/* LOGIN FORM */

body.login {
    background: white;
}

.login #header {
    height: auto;
    padding: 5px 16px;
    background-color: #006699;
}

.login #header h1 {
    font-size: 25;
    color: white;
    margin: 20px auto;
    margin-left: 20px;
}

.login #header h1 a {

    color: #006699;
}

.login #content {
    padding: 20px 20px 0;
}

.login #container-form {
    background: #fff;
    border: 4px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
}

.login #container {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
}

.login #content-main {
    width: 100%;
}

.login .form-row {
    padding: 4px 0;
    float: left;
    width: 100%;
    border-bottom: none;
}
.login .form-login {
    padding: 4px 0;
    height: 40px;
    float: left;
    width: 100%;
    border-bottom: none;
    margin: 10 -10 10 -5;
}

.login .form-row label {
    padding-right: 0.5em;
    line-height: 2em;
    font-size: 1em;
    clear: both;
    color: #333;
}

.login .form-row #id_username, .login .form-row #id_password {
    clear: both;
    padding: 8px;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.login span.help {
    font-size: 20px;
    display: block;
}

.login .submit-row {
    clear: both;
    padding: 1em 0 0 9.4em;
    margin-top: 10px;
    border: none;
    background: none;
    text-align: left;
}

.login .password-reset-link {
    text-align: center;
}

.error-username{
    background: #E06464;
    padding: 10px;
    text-align: center;
    height: 30px;
    color: #801A1A;
    font-weight: bold;
    display: none;


}

.error-email{
    background: #E06464;
    padding: 10px;
    text-align: center;
    height: 30px;
    color: #801A1A;
    font-weight: bold;
    display: none;


}

.match-password{
    background: #E06464;
    padding: 10px;
    text-align: center;
    height: 30px;
    color: #801A1A;
    font-weight: bold;
    display: none;
    position:absolute;
    width:525px;

}
