{% extends 'biblioteca_sistedes/base.html' %}
{% block title %}
	<title>Búsqueda avanzada | Biblioteca sistedes</title>
{% endblock %}
{% block content %}
{% csrf_token %}
    <!-- form de busqueda //-->
    <h1>Búsqueda Avanzada en la Biblioteca Digital</h1>
    <form name="search" action="" method="get" class="form1">
        <p><label>Búsqueda por título: </label><input type="text" placeholder="Título" name="txtTitulo" value="{{ txtTitulo }}"></p>
        <p>
            <label>Búsqueda por autor: </label>
            <select name="selCondAutor" >
                {% with "o" as name %}
                <option value="o" {% if selCondAutor ==  name %} selected {% endif %}>O</option>
                <option value="y" {% if selCondAutor !=  name %} selected {% endif %}>Y</option>
                {% endwith %}
            </select>
            &nbsp;
            <input type="text" placeholder="Autor" name="txtAutor" value="{{ txtAutor }}">
        </p>
        <p>
            <label>Búsqueda por afiliación: </label>
            <select name="selCondAfiliacion" selected="{{ selCondAfiliacion }}">
                {% with "o" as name %}
                <option value="o" {% if selCondAfiliacion ==  name %} selected {% endif %}>O</option>
                <option value="y" {% if selCondAfiliacion !=  name %} selected {% endif %}>Y</option>
                {% endwith %}
            </select>
            &nbsp;
            <input type="text" placeholder="Afiliación" name="txtAfiliacion" value="{{ txtAfiliacion }}">
        </p>
        <p>
            <label>Búsqueda por palabra clave: </label>
            <select name="selCondKeyword" value="{{ selCondKeyword }}">
                {% with "o" as name %}
                <option value="o" {% if selCondKeyword ==  name %} selected {% endif %}>O</option>
                <option value="y" {% if selCondKeyword !=  name %} selected {% endif %}>Y</option>
                {% endwith %}
            </select>
            &nbsp;
            <input type="text" placeholder="Palabra clave" name="txtKeyword" value="{{ txtKeyword }}">
        </p>
        <p><label>&nbsp;</label><input type="submit" value="Buscar"></p>
    </form>
    {% if params_exist %}
        {% if conference_list %}
            <!-- resultados de la busqueda //-->
            <h1>Resultados de la Búsqueda: [ {{ conference_list|length }} artículo(s) ]</h1>
            {% for conference in conference_list %}
                <article class="page page_319">
                    <header class="wrapper" id="text-hightlight">
                        <h3>{{forloop.counter}} - <a href="">{{ conference.name }}</a></h3>
                    </header>
                    <p id="text-hightlight">
                        {{  conference.description|safe  }}
                    </p>
                    <p style="font-size: 0.8em;" id="text-hightlight">
                        <strong>Autores: </strong>
                            {% for author in conference.author_ids.all %}
                                <a href="/autor/?autor={{author.name}} {{author.middle_name}} {{author.last_name}}/">{{author.name}} {{author.middle_name}} {{author.last_name}}</a>&nbsp;/&nbsp;
                            {% endfor %}
                        <br/>
                        <strong> Palabras Clave: </strong>
                            {% for keyword in conference.keyword_ids.all %}
                                <a href=""> {{keyword.name}} </a>{% if not forloop.last %}&nbsp;-&nbsp;{% endif %}
                            {% endfor %}
                    </p>
                        <a href="/articulo/{{ conference.id }}/">...leer artículo</a>
                    </p>
                </article>
            {% endfor %}
        {% else %}
            <h1>No existen resultados para la Búsqueda solicitada.</h1>
        {% endif %}
    {% endif %}
{% endblock %}
