{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Detalle artículo | Biblioteca sistedes</title>
{% endblock %}
{% block container %}
<h2><u> Detalle artículo </u></h2>
{% csrf_token %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label><h4>Nombre:</h4></label> {{ article.name }}
        </div>
        <div class="form-group">
            <label><h4>Año:</h4></label> {{ article.year }}
        </div>
        <div class="form-group">
            <label><h4>Descripción:</h4></label> {{ article.description }}
        </div>
        <div class="form-group">
            <label><h4>Archivo:</h4></label> <a href="/download/{{article.id }}" target="_blank"> {{ article.name }} </a>
        </div>
    </div>
</div>
</br>
<h3><u> Palabras clave </u></h3>
<div class="col-md-8 col-md-offset-2">
		<table id="myTable">
			<thead>
				<tr>
					<th>Nombre</th>
                    <th>Acciones</th>
				</tr>

			</thead>
			<tbody>
				{% for key in keyword_list %}
				<tr style="border-bottom: 1px solid black;">
					<td >{{ key.name }}</td>

					<td style="width: auto;">
						<a class="btn btn-primary" href="/keyword_update/{{ key.id }}/"><i class="fa fa-edit fa-2x"></i></a>
						<a class="btn btn-danger" href="/keyword_delete/{{ key.id }}/"><i class="fa fa-trash fa-2x"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
    {% if keyword_list|length == 0 %}
    <h1>No hay registros de palabras clave</h1>
    {% endif %}
</div>
</br>
<h3><u> Autores </u></h3>
<div class="col-md-8 col-md-offset-2">
		<table id="myTable">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Primer apellido</th>
					<th>Segundo apellido</th>
					<th>Acciones</th>
				</tr>

			</thead>
			<tbody>
				{% for author in author_list %}
				<tr>
					<td>{{ author.name }}</td>
					<td>{{ author.middle_name }}</td>
					<td>{{ author.last_name }}</td>

					<td style="width: auto;">
                        <a class="btn btn-primary" href="/author_view/{{ author.id }}/"><i class="fa fa-eye fa-2x"></i></a>
						<a class="btn btn-primary" href="/author_update/{{ author.id }}/"><i class="fa fa-edit fa-2x"></i></a>
						<a class="btn btn-danger" href="/author_delete/{{ author.id }}/"><i class="fa fa-trash fa-2x"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
    {% if author_list|length == 0 %}
    <h1>No hay registros de autores</h1>
    {% endif %}
</div>
</br>
<h3><u> Tracks </u></h3>
<div class="col-md-8 col-md-offset-2">
		<table id="myTable">
			<thead>
					<th>Nombre</th>
					<th>Edición</th>
					<th>Acciones</th>
				</tr>

			</thead>
			<tbody>
                {% for track in track_list %}
                <tr>
                    <td >{{ track.name }}</td>
                    <td>{{ track.edition_id.name }}</td>

                    <td style="width: auto;">
                        <a class="btn btn-primary" href="/track_view/{{ track.id }}/"><i class="fa fa-eye fa-2x"></i></a>
                        <a class="btn btn-primary" href="/track_update/{{ track.id }}/"><i class="fa fa-edit fa-2x"></i></a>
                        <a class="btn btn-danger" href="/track_delete/{{ track.id }}/"><i class="fa fa-trash fa-2x"></i></a>
                    </td>
                </tr>
                {% endfor %}
			</tbody>
		</table>
    {% if track_list|length == 0 %}
    <h1>No hay registros de tracks</h1>
    {% endif %}
</div>
{% endblock %}
