{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Detalle autor | Biblioteca sistedes</title>
{% endblock %}
{% block container %}
<h2><u> Detalle autor </u></h2>
{% csrf_token %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label><h3>Nombre:</h3></label> {{ author.name }} {{ author.middle_name }} {{ author.last_name }}
        </div>
        <div class="form-group">
            <label><h3>Email:</h3></label> {{ author.email }}
        </div>
    </div>
</div>
</br>
<h3><u> Artículos </u></h3>
<div class="col-md-8 col-md-offset-2">
    <table id="myTable">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Autores</th>
            <th>Palabras clave</th>
            <th>Derechos de acceso</th>
            <th>Tracks</th>
            <th>Acciones</th>
        </tr>

        </thead>
        <tbody>

        {% for article in article_list %}
        <tr>
            <td>{{ article.id }}</td>
            <td>{{ article.name }}</td>
            <td>{{ article.author_ids }}</td>
            <td>{{ article.keyword_ids }}</td>
            <td>{{ article.access_right_ids }}</td>
            <td>{{ article.track_ids }}</td>

            <td style="width: auto;">
                <a class="btn btn-primary" href="/article_view/{{ article.id }}/"><i class="fa fa-eye fa-2x"></i></a>
                <a class="btn btn-primary" href="/article_update/{{ article.id }}/"><i class="fa fa-edit fa-2x"></i></a>
                <a class="btn btn-danger" href="/article_delete/{{ article.id }}" onclick="clicked(event)"><i class="fa fa-trash fa-2x"></i></a>
            </td>
        </tr>
        {% endfor %}


        </tbody>
    </table>
    {% if article_list|length == 0 %}
    <h1>No hay registros de artículos</h1>
    {% endif %}
</div>
{% endblock %}
