{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Detalle boletín | Biblioteca sistedes</title>
{% endblock %}
{% block container %}
<h2><u> Detalle boletín </u></h2>
{% csrf_token %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label><h3>Nombre:</h3></label> {{ bulletin.name }}
        </div>
        <div class="form-group">
            <label><h3>Fecha:</h3></label> {{ bulletin.date }}
        </div>
        <div class="form-group">
            <label><h3>Archivo:</h3></label> <a href="/download/{{bulletin.id}}?type=b" target="_blank"> {{ bulletin.name }} </a>
        </div>
    </div>
</div>
{% endblock %}
