{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Lista de conferencias | Biblioteca sistedes</title>
{% endblock %}
{% block container %}
		<h2><u> Conferencias </u></h2></br>
		Buscador: <input id="myInput" type="text" onkeyup="search_table()">
		</br>
		</br>
		{% if object_list %}
		<table id="myTable">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Dominio</th>
					<th>Acciones</th>
				</tr>

			</thead>
			<tbody>
				{% for conference in object_list %}
				<tr style="border-bottom: 1px solid black;">
					<td>{{ conference.id }}</td>

					<td >{{ conference.name }}</td>
					<td>{{ conference.domain }}</td>

					<td style="width: auto;">
						<a class="btn btn-primary" href="/conference_view/{{ conference.id }}/">Ver    </a>
						<a class="btn btn-primary" href="/conference_update/{{ conference.id }}/"> Editar </a>
						<a class="btn btn-danger" href="/conference_delete/{{ conference.id }}/"> Eliminar</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<h1>No hay registros de conferencias</h1>
		{% endif %}
{% endblock%}
