{% extends 'biblioteca_sistedes/base_form.html' %}
{% block container %}
<div style="width: 90%; margin: 0 auto; height: 80%; margin-top: 5%;">
<h2><u> Detalle conferencia </u></h2>
{% csrf_token %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label><h4>Nombre:</h4></label> {{ conference.name }}
            </div>
            <div class="form-group">
                <label><h4>Dominio:</h4></label> {{ conference.domain }}
            </div>
        </div>
    </div>
    </br>
    <h3><u> Ediciones </u></h3>
    <div class="col-md-8 col-md-offset-2">
        <table id="myTable">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Año</th>
                    <th>Acciones</th>
				</tr>

			</thead>
			<tbody>
				{% if edition_list %}
				{% for edition in edition_list %}
				<tr>
					<td>{{ edition.id }}</td>
					<td>{{ edition.name }}</td>
					<td>{{ edition.year }}</td>

                    <td style="width: auto;">
                        <a class="btn btn-primary" href="/edition_view/{{ edition.id }}/">Ver</a>
						<a class="btn btn-primary" href="/edition_update/{{ edition.id }}/">Editar</a>
						<a class="btn btn-danger" href="/edition_delete/{{ edition.id }}/">Eliminar</a>
					</td>
                </tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
			<h1>No hay registros de ediciones</h1>
		{% endif %}
    </div>
</div>
{% endblock %}