{% extends 'biblioteca_sistedes/base.html' %}
{% block content %}
{% csrf_token %}
<header class="wrapper">
    <h1>Conferencias</h1>
</header>
<div class="wrapper"><p>Desde su fundación, SISTEDES ha perseguido la promoción de la investigación, la innovación y la
    transferencia de tecnología entre los distintos agentes involucrados en el avance de la Ingeniería del Software&nbsp;
    y las Tecnologías de desarrollo de Software. Con ese fin, se convirtió en la entidad encargada de la organización de
    unas jornadas científicas anuales (las Jornadas SISTEDES), así como de ofrecer un conjunto de actividades y
    servicios a sus socios y a toda la comunidad española que trabaja en las áreas de Ingeniería del Software y las
    Tecnologías de Desarrollo de Software. Esas conferencias suceden en el tiempo a las jornadas que, desde 1996, se han
    celebrado en diversos lugares de nuestro país en los ámbitos de la Ingeniería del Software, Bases de Datos y
    Tecnologías de desarrollo de Software.</p>
    <p>Actualmente las Jornadas SISTEDES albergan tres eventos:</p>
    <ul>
        {% for conference in conferences %}
            <li><a href="/biblioteca/conferencias/{{ conference.domain }}/">{{ conference.name }}</a>
        {% endfor %}
    </ul>
    <p>En la Biblioteca Digital de SISTEDES se almacenarán también las actas de los eventos precedentes, remontándose
        hasta 1996, año en que se celebraron las Primeras Jornadas de Investigación y Docencia en Bases de Datos (JIDBD)
        y las primeras Jornadas de Ingeniería del Software. Ambas tuvieron ediciones sucesivas hasta que, en 1999, se
        reunieron en el evento conocido como JISBD.</p>
</div>

{% endblock %}