{% extends 'biblioteca_sistedes/base_form.html' %}
{% block container %}
		<h2><u> Conferencias </u></h2></br>
		Buscador: <input id="myInput"type="text" onkeyup="search_table()">
		</br>
		</br>
		<table id="myTable">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Dominio</th>
					<th>Acciones</th>
				</tr>

			</thead>
			<tbody>
				{% if object_list %}
				{% for conference in object_list %}
				<tr style="border-bottom: 1px solid black;">
					<td>{{ conference.id }}</td>

					<td ><div style="width: 500px; height: auto; overflow: auto">{{ conference.name }}</div></td>
					<td>{{ conference.domain }}</td>

					<td style="width: auto;">
						<a class="btn btn-primary" href="/biblioteca_sistedes/conference_update/{{ solicitud.id }}">Editar</a>
						<a class="btn btn-danger" href="/biblioteca_sistedes/conference_delete/{{ solicitud.id }}">Eliminar</a>
					</td>
				</tr>
				{% endfor %}

				{% else %}
				<h1>No hay registros de conferencias</h1>
				{% endif %}
			</tbody>
		</table>
{% endblock%}
