{% extends 'biblioteca_sistedes/base_form.html' %}
{% block form %}
<h2><u> Crear conferencia </u></h2>
{% csrf_token %}
<form method="post">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="name_con"><h4>Nombre:</h4></label> {{ form_conference.name }}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="dom_con"><h4>Dominio:</h4></label> {{ form_conference.domain }}
            </div>
        </div>
    </div>
    </br>
    <div class="col-md-8 col-md-offset-2">
        <div class="submit-row">
            <input class="submit-row" type="submit" value="Crear conferencia">
        </div>
    </div>
</form>
{% endblock %}

    