{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Crear edición | Biblioteca sistedes</title>
{% endblock %}
{% block form %}
<h2><u> Crear edición </u></h2>
{% csrf_token %}
        <div class="form-row">
            <div class="form-row-component">
                <label for="name_ed"><h4>Nombre:</h4></label> {{ form_edition.name }}
            </div>
            <div class="form-row-component">
                <label for="year_ed"><h4>Año:</h4></label> {{ form_edition.year }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-component">
                <label for="pre_ed"><h4>Preámbulo:</h4></label> {{ form_edition.preamble }}
            </div>
            <div class="form-row-component">
                <label for="desc_ed"><h4>Descripción:</h4></label> {{ form_edition.description }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-component">
                <label for="place_ed"><h4>Lugar:</h4></label> {{ form_edition.place }}
            </div>
            <div class="form-row-component">
                <label for="top_ed"><h4>Tópico:</h4></label> {{ form_edition.topic }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-component">
                <label for="con_ed"><h4>Conferencia:</h4></label> {{ form_edition.conference_id }}
            </div>
        </div>
        </br>
        <div>
            <div>
                <input style="background-color: #006699;" class="form-submit" type="submit" value="Guardar edición">
                <button type="button" onclick="window.location.href='/edition_list/'" class="cancel-button">Cancelar</button>
            </div>
        </div>
{% endblock %}
