{% extends 'biblioteca_sistedes/base.html' %}
{% block content %}
{% csrf_token %}
<article class="page page_1781">
    <header class="wrapper">
        {% for ed in edition %}
        <h1> {{ ed.name }}</h1>
        {% endfor %}
    </header>
    <section id="interior" class="s">
        <div class="wrapper">
            <hr>
            <p><em>García Molina, J. (Ed.), Actas de las XXI Jornadas de Ingeniería del Software y Bases de Datos (JISBD
                2016). Salamanca, septiembre de 2016.</em></p>
            <hr>
            <p>Sesiones dentro de esta conferencia:</p>
            <ul>
                {% for track in new_tracks %}
                <li><a href="/biblioteca/conferencias/{{ track.edition_id.conference_id.domain }}/{{ track.edition_id.year }}/{{ track.id }}">{{ track.name }}</a></li>
                {% endfor %}
            </ul>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </section>
</article>

{% endblock %}