{% extends 'biblioteca_sistedes/base.html' %}
{% block title %}
	<title>Info track | Biblioteca sistedes</title>
{% endblock %}
{% block content %}
{% csrf_token %}
<article class="page page_168">
    <header class="wrapper">
        <h1> {{ track.name }} </h1>
    </header>
    <section id="interior" class="s">
        <div class="wrapper">
            {% if track.preamble %}
                <hr>
                <p>{{ track.preamble }}</p>
                <hr>
            {% endif %}
            <p>&nbsp;</p>
            {% if articles %}
            <p>Listado de artículos correspondientes al track {{ track.name }}</p>
            <ol id="articulo_a_conferencia_list">
                {% for ar in articles %}
                <li>
                    <a href="/articulo/{{ ar.id }}/">
                        {{ ar.name }}
                    </a>
                    <br>
                    <span class="txtPequeno">
                        {% for au in ar.author_ids.all %} {{ au.name }} {{ au.middle_name }} {{ au.last_name }} &nbsp;/&nbsp; {% endfor %}
                    </span>
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </section>
</article>

{% endblock %}
