{% extends 'biblioteca_sistedes/base.html' %}
{% block title %}
	<title>Info track | Biblioteca sistedes</title>
{% endblock %}
{% block content %}
{% csrf_token %}
<div id="navegacionTop">
    <ul class="breadcrumbs">
        <li><a href="/">Inicio</a></li>
        <li><a href="/biblioteca/">Biblioteca</a></li>
        <li><a href="/conferencias/">Conferencias</a></li>
        <li><a href="/biblioteca/conferencias/{{ track.edition_id.conference_id.domain }}/">{{ track.edition_id.conference_id.name }}</a></li>
        <li><a href="/biblioteca/conferencias/{{ track.edition_id.conference_id.domain }}/{{track.edition_id.year}}/">{{track.edition_id.name}}</a></li>
        <li><a href="/biblioteca/conferencias/{{ track.edition_id.conference_id.domain }}/{{track.edition_id.year}}/{{tr.id}}">{{track.name}}</a></li>
    </ul>
</div>
<article class="page page_168">
    <header class="wrapper">
        <h1> {{ track.name }} </h1>
    </header>
    <section id="interior" class="s">
        <div class="wrapper">
            {% if track.preamble %}
                <hr>
                <p>{{ track.preamble }}</p>
                <hr>
            {% endif %}
            <p>&nbsp;</p>
            <p>{{ track.description }}</p>
            {% if articles %}
            <ol id="articulo_a_conferencia_list">
                {% for ar in articles %}
                <li>
                    <a href="/articulo/{{ ar.id }}/">
                        {{ ar.name }}
                    </a>
                    <br>
                    <span class="txtPequeno">
                        {% for au in ar.author_ids.all %} {{ au.name }} {{ au.middle_name }} {{ au.last_name }} &nbsp;/&nbsp; {% endfor %}
                    </span>
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </section>
</article>

{% endblock %}
