{% extends 'biblioteca_sistedes/base.html' %}
{% block title %}
	<title>Info edición | Biblioteca sistedes</title>
{% endblock %}
{% block content %}
{% csrf_token %}
<div id="navegacionTop">
    <ul class="breadcrumbs">
        <li><a href="/">Inicio</a></li>
        <li><a href="/biblioteca/">Biblioteca</a></li>
        <li><a href="/conferencias/">Conferencias</a></li>
        {% if edition %}
        <li><a href="/conferencias/{{ edition.conference_id.domain }}/">{{ edition.conference_id.name }}</a></li>
        <li><a href="/conferencias/{{ edition.conference_id.domain }}/{{edition.year}}-{{edition.id}}/">{{edition.name}}</a></li>
        {% endif %}
    </ul>
</div>
<article class="page page_1781">
    <header class="wrapper">
        {% if edition %}
        <h1> {{ edition.name }}</h1>
        {% endif %}
    </header>
    <section id="interior" class="s">
        <div class="wrapper">
            {% if edition %}
            <hr>
            <p><em>{{edition.preamble|safe}}</em></p>
            <hr>
            {% endif %}
            {% if edition %}
            <p>{{edition.description|safe}}</p>
            {% endif %}
            <ul>
                {% for track in new_tracks %}
                <li><a href="/conferencias/{{ track.edition_id.conference_id.domain }}/{{ track.edition_id.year }}-{{ track.edition_id.id }}/{{ track.id }}">{{ track.name }}</a></li>
                {% endfor %}
            </ul>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </section>
</article>

{% endblock %}
