{% extends 'biblioteca_sistedes/base.html' %}
{% block title %}
	<title>Info conferencia | Biblioteca sistedes</title>
{% endblock %}
{% block content %}
{% csrf_token %}
<div id="navegacionTop">
    <ul class="breadcrumbs">
        <li><a href="/">Inicio</a></li>
        <li><a href="/biblioteca/">Biblioteca</a></li>
        <li><a href="/conferencias/">Conferencias</a></li>
        {% for conf in conference %}
        <li><a href="/conferencias/{{ conf.domain }}/">{{ conf.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<article class="page page_77">
    <header class="wrapper">
        {% for conf in conference %}
            <h1> {{ conf.name }}</h1>
        {% endfor %}
    </header>
    <section id="interior" class="s">
        <div class="wrapper">
            {% for conf in conference %}<p>{{ conf.description|safe }}</p>{% endfor %}
            <p>&nbsp;</p>
            <ul>
                {% for edition in new_editions %}
                    <li><a href="/conferencias/{{ edition.conference_id.domain }}/{{ edition.year }}-{{edition.id}}/">{{ edition.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
</article>

{% endblock %}
