{% extends 'biblioteca_sistedes/base.html' %}
{% block title %}
	<title>Info edición | Biblioteca sistedes</title>
{% endblock %}
{% block content %}
{% csrf_token %}
<article class="page page_1781">
    <header class="wrapper">
        {% for ed in edition %}
        <h1> {{ ed.name }}</h1>
        {% endfor %}
    </header>
    <section id="interior" class="s">
        <div class="wrapper">
            {% for ed in edition %}
            <hr>
            <p><em>{{ed.preamble}}</em></p>
            <hr>
            {% endfor %}
            {% for ed in edition %}
            <p>{{ed.description}}</p>
            {% endfor %}
            <ul>
                {% for track in new_tracks %}
                <li><a href="/biblioteca/conferencias/{{ track.edition_id.conference_id.domain }}/{{ track.edition_id.year }}/{{ track.id }}">{{ track.name }}</a></li>
                {% endfor %}
            </ul>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </section>
</article>

{% endblock %}
