{% extends 'biblioteca_sistedes/base.html' %}
{% block title %}
	<title>Info edición | Biblioteca sistedes</title>
{% endblock %}
{% block content %}
{% csrf_token %}
<div id="navegacionTop">
    <ul class="breadcrumbs">
        <li><a href="/">Inicio</a></li>
        <li><a href="/biblioteca/">Biblioteca</a></li>
        <li><a href="/conferencias/">Conferencias</a></li>
        {% if edition %}
        <li><a href="/conferencias/{{ edition.conference_id.domain }}/">{{ edition.conference_id.name }}</a></li>
        <li><a href="/conferencias/{{ edition.conference_id.domain }}/{{edition.year}}-{{edition.id}}/">{{edition.name}}</a></li>
        {% endif%}
    </ul>
</div>
<article class="page page_168">
    <header class="wrapper">
        {% if edition %}
        <h1> {{ edition.name }} </h1>
        {% endif %}
    </header>
    <section id="interior" class="s">
        <div class="wrapper">
            {% if edition.preamble %}
                <hr>
                <p>{{ edition.preamble|safe }}</p>
                <hr>
            {% endif %}
            <p>&nbsp;</p>
            {% if edition.description  %}
            <p>{{ edition.description|safe }}</p>
            {% endif %}
            {% if articles %}
            <ol id="articulo_a_conferencia_list">
                {% for ar in articles %}
                <li>
                    <a href="/articulo/{{ ar.id }}/">
                        {{ ar.name }}
                    </a>
                    <br>
                    <span class="txtPequeno">
                        {% for au in ar.author_ids.all %} {{ au.name }} {{ au.middle_name }} {{ au.last_name }} &nbsp;/&nbsp; {% endfor %}
                    </span>
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        </div>
    </section>
</article>

{% endblock %}
