{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Lista de palabras clave | Biblioteca sistedes</title>
{% endblock %}
{% block container %}
{% load static %}
		<h2><u> Palabras clave </u></h2>
        </br>
        </br>
        </br>
        <button style="float: right;" class="button_form" onclick="showWizardKeyWord()" >Añadir + </button>
        <input placeholder="Buscar..." style="width: 600;" id="myInput" type="text" onkeyup="search_table()">
        <input alt="Buscar"
               src="{% static 'biblioteca_sistedes/img/search.png' %}"
               type="image">
        </br>
        </br>
		<table id="myTable">
			<thead>
				<tr>
					<th>Nombre</th>
                    <th>Acciones</th>
				</tr>

			</thead>
			<tbody>
				{% for key in object_list %}
				<tr style="border-bottom: 1px solid black;">
					<td>{{ key.name }}</td>
					<td style="width: auto;">
						<a id="cursor-key" class="btn btn-primary" onclick="showWizardKeyWord({{ key.id }},'{{ key.name }}')"><i class="fa fa-edit fa-2x"></i></a>
						<a class="btn btn-danger" href="/keyword_delete/{{ key.id }}/" onclick="clicked(event)"><i class="fa fa-trash fa-2x"></i></a>
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
		{% if object_list|length == 0 %}
		<h1>No hay registros de palabras clave</h1>
		{% endif %}
{% endblock%}
