{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Crear palabra clave | Biblioteca sistedes</title>
{% endblock %}
{% block form %}
<h2><u>Crear palabra clave </u></h2>
{% csrf_token %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="name_key"><h4>Nombre:</h4></label> {{ form_keyword.name }}
            </div>
        </div>
    </div>
    </br>
    <div>
        <div>
            <input style="background-color: #006699;" class="form-submit" type="submit" value="Crear palabra clave">
        </div>
    </div>
{% endblock %}
