{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Crear palabra clave | Biblioteca sistedes</title>
{% endblock %}
{% block form %}
<h2><u>Crear palabra clave </u></h2>
{% csrf_token %}
    <div class="row">
        <div class="form-row">
            <div class="form-row-component">
                <label for="name_key"><h4>Nombre:</h4></label> {{ form_keyword.name }}
            </div>
            <div class="form-row-component">
                <label for="title_key"><h4>Título:</h4></label> {{ form_keyword.title }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-row-component-alone">
                <label for="desc_key"><h4>Descripción:</h4></label> {{ form_keyword.description }}
            </div>
        </div>
    </div>
    </br>
    <div>
        <div>
            <input style="background-color: #006699;" class="form-submit" type="submit" value="Guardar palabra clave">
            <button type="button" onclick="window.location.href='/keyword_list/'" class="cancel-button">Cancelar</button>
        </div>
    </div>
{% endblock %}
