{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Lista de palabras clave | Biblioteca sistedes</title>
{% endblock %}
{% block container %}
{% load static %}
		<h2><u> Palabras clave </u></h2>
        </br>
        </br>
        </br>
        <button style="float: right;" class="button_form" onclick="window.location.href='/keyword_create/'" >Añadir + </button>
        <input style="width: 600;" id="myInput" type="text" onkeyup="search_table()">
        <input alt="Buscar"
               src="{% static 'biblioteca_sistedes/img/search.png' %}"
               type="image">
        </br>
        </br>
		{% if object_list %}
		<table id="myTable">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
				</tr>

			</thead>
			<tbody>
				{% for key in object_list %}
				<tr style="border-bottom: 1px solid black;">
					<td>{{ key.id }}</td>

					<td >{{ key.name }}</td>

					<td style="width: auto;">
						<a class="btn btn-primary" href="/keyword_view/{{ key.id }}/">Ver</a>
						<a class="btn btn-primary" href="/keyword_update/{{ key.id }}/">Editar</a>
						<a class="btn btn-danger" href="/keyword_delete/{{ key.id }}/">Eliminar</a>
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
		{% else %}
		<h1>No hay registros de palabras clave</h1>
		{% endif %}
{% endblock%}
