{% extends 'biblioteca_sistedes/base_form.html' %}
{% block container %}
<!-- Container -->
<div id="container" style="margin-top: 200px;">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">Inicio de sesión - Biblioteca Sistedes</a></h1>
        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
            <form action="/login/" method="post" id="login-form">{% csrf_token %}
                <input type="hidden">
                <div class="form-row">
                    <label class="required" for="id_username">Username:</label> <input type="text" name="username"
                                                                                       id="id_username" autofocus=""
                                                                                       required="" maxlength="254">
                </div>
                <div class="form-row">

                    <label class="required" for="id_password">Password:</label> <input type="password" name="password"
                                                                                       id="id_password" required="">
                    <input type="hidden" name="next" value="/admin/">
                </div>
                <!--{{ form_login.as_p }}-->

                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="Log in">
                </div>
            </form>

        </div>


        <br class="clear">
    </div>
</div>
{% endblock %}
    <!-- END Content -->