<html lang="es">

<div class="general-div">
    <form method="post" enctype="multipart/form-data">
        <div class="form-style-10" style="width:75%;">
            <div class="form-row">
                <div class="form-row-component">
                    <label for="pass_user_1_wizard"><h4>Constraseña:</h4></label> <input id="pass_user_1_wizard" type="password">
                </div>
                <div class="form-row-component">
                    <div>
                        <label for="pass_user_2_wizard"><h4>Repetir constraseña:</h4></label> <input id="pass_user_2_wizard" type="password">
                    </div>
                    <!-- <div class="match-password">
                        <i class="fa fa-times"></i>
                         <span class="text-match-password"></span>
                    </div> -->
                </div>
            </div>
        </div>
        <div>
            <input style="background-color: #006699;" class="form-submit" type="submit" value="Crear usuario">
            <button onclick="window.location.href='/user_list/'" class="cancel-button">Cancelar</button>
        </div>
    </form>
</div>

</html>
