{% extends 'biblioteca_sistedes/base.html' %}
{% block content %}
{% csrf_token %}


<div class="divContenido">
    <h1>Resultados de búsqueda para <strong><span class="highlight">{{ key }}</span></strong></h1>
    {% for conference in conference_list %}
        <div class="articulo" id="articulo_2613">
            <header class="wrapper">
                <h3>
                    <a id="text-hightlight" href="https://biblioteca.sistedes.es/articulo/ecological-debt-outlining-a-measure-to-evaluate-software-greenability/"> {{ conference.name }}</a></h3>
            </header>
            <div style="font-size: 0.8em;">
                <p id="text-hightlight">
                  {{  conference.description }}
                </p>
            </div>
            <p style="font-size: 0.8em;" id="text-hightlight">
                <strong>Autores: </strong>
                {% for author in conference.author_ids.all %}
                 <a href="/autor/?txtAutor=Ignacio García-Rodríguez de Guzmán">{{author.name}} {{author.middle_name}} {{author.last_name}}</a>&nbsp;/&nbsp;
                {% endfor %}
                <br/>
                <strong> Palabras Clave: </strong>
                {% for keyword in conference.keyword_ids.all %}
                    <a href="https://biblioteca.sistedes.es/tag/ecological-debt/?post_type=articulo"> {{keyword.name}} </a>&nbsp;-&nbsp;
                {% endfor %}
            </p>
        </div>
    {% endfor %}

</div>

{% endblock %}