{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Crear track | Biblioteca sistedes</title>
{% endblock %}
{% block form %}
<h2><u> Crear track </u></h2>
{% csrf_token %}
    <div class="form-row">
        <div class="form-row-component">
            <label for="name_tr"><h4>Nombre:</h4></label> {{ form_track.name }}
        </div>
        <div class="form-row-component">
            <label for="ed_tr"><h4>Edición:</h4></label> {{ form_track.edition_id }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-row-component-alone">
                <label for="pre_tr"><h4>Preámbulo:</h4></label> {{ form_track.preamble }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-row-component-alone">
            <label for="desc_tr"><h4>Descripción:</h4></label> {{ form_track.description }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-row-component-alone">
            <label for="user_tr"><h4>Responsables del track:</h4></label> {{ form_track.user_ids }}
        </div>
    </div>
    </br>
    <div>
        <div>
            <input style="background-color: #006699;" class="form-submit" type="submit" value="Guardar track">
            <button type="button" onclick="window.location.href='/track_list/'" class="cancel-button">Cancelar</button>
        </div>
    </div>
{% endblock %}
