{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Lista de usuarios | Biblioteca sistedes</title>
{% endblock %}
{% load static %}
{% block container %}
        <h2><u> Usuarios </u></h2>
        </br>
        </br>
        </br>
        <button style="float: right;" onclick="window.location.href='/user_create/'" class="button_form">Añadir + </button>
        <input placeholder="Buscar..." style="width: 600;" id="myInput" type="text" onkeyup="search_table()">
        <input alt="Buscar"
               src="{% static 'biblioteca_sistedes/img/search.png' %}"
               type="image">
        </br>
        </br>
		<table id="myTable">
			<thead>
				<tr>
					<th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acciones</th>
				</tr>

			</thead>
			<tbody>
				{% for user in object_list %}
				<tr style="border-bottom: 1px solid black;">
					<td ><div>{{ user.name }}</div></td>
                    <td ><div >{{ user.surnames }}</div></td>
                    <td ><div >{{ user.email }}</div></td>
                    {% if user.rol == 1 %}
                        <td ><div>Administrador</div></td>
                    {% endif %}
                    {% if user.rol == 2 %}
                        <td ><div>Presidente comité de programa</div></td>
                    {% endif %}
                    {% if user.rol == 3 %}
                        <td ><div>Responsable de track</div></td>
                    {% endif %}

					<td style="width: auto;">
						<!--<a class="btn btn-primary" href="/user_view/{{ user.id }}/">Ver</a>-->
                        <a href="#" onclick="showWizardPassword({{user.id}})" ><i class="fa fa-key fa-2x"></i></a>
						<a class="btn btn-primary" href="/user_update/{{ user.id }}/"><i class="fa fa-edit fa-2x"></i></a>
						<a class="btn btn-danger" href="/user_delete/{{ user.id }}/" onclick="clicked(event)"><i class="fa fa-trash fa-2x"></i></a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% if object_list|length == 0 %}
		<h1>No hay registros de usuarios</h1>
		{% endif %}
{% endblock%}
