{% extends 'biblioteca_sistedes/base_form.html' %}
{% block title %}
	<title>Detalle usuario | Biblioteca sistedes</title>
{% endblock %}
{% block container %}
<h2><u> Detalle usuario </u></h2>
{% csrf_token %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label><h4>Nombre:</h4></label> {{ user.name }} {{ user.surnames }}
        </div>
        <div class="form-group">
            <label><h4>Email:</h4></label> {{ user.email }}
        </div>
        <div class="form-group">
            {% if user.rol == 1 %}
                <label><h4>Rol:</h4></label> Administrador
            {% elif user.rol == 2 %}
                <label><h4>Rol:</h4></label> Presidente de comité de programa
            {% elif user.rol == 3 %}
                <label><h4>Rol:</h4></label> Responsable de track
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
